<div class="container">
    <h1 class="text-center mt-5">Search Movies</h1>
    <div class="row justify-content-center">
        <div class="movies-list col-md-8">
            <div class="input justify-content-center">
                <div class="col-md-4 mb-2 form-floating">
                    <input type="text" class="form-control" [formControl]="titleControl" id="title" placeholder="Movie title">
                    <label for="name">Movie title</label>
                </div>
            </div>
            <div>
                <ul class="list-group">
                    @for (movie of (searchResults$ | async); track movie.id){
                    <li class="list-group-item">
                        <app-movie-card 
                            [movie]="movie" 
                            [isLoggedUser]="true" 
                            (onRemove)="removeMovieFromCollection(movie.id)"
                            (onAdd)="addMovieToCollection(movie.id)">
                        </app-movie-card>
                    </li>
                    }
                    @empty {
                    <li class="list-group-item">
                        Is your movie not here yet? 
                        <a [routerLink]="['/add-movie']">Add clicking here.</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
